<li>
<%= task.title  %>
<% unless task.deadline.nil? %>
  , to read: <%= task.deadline.strftime('%D')  %>
<% end %>
<a href="<%= task_path(task.id) %>" data-confirm="Etes vous sur de vouloir supprimer cette tache?" data-method='DELETE'><i class="fa fa-trash" aria-hidden="true"></i></a>
</li>