<h1>Email</h1>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th>Liste des emails</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
        </tr>
        <tr>
          <td>Mary</td>
        </tr>
        <tr>
          <td>July</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>Email selectionné</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
