#<a href="<%=emails_path%>" class="btn btn-secondary" data-method='POST' data-remote='true'>Marquer comme non-lu</a>
<a href="<%=email_path(email.id)%>" class="btn btn-danger" data-method='DELETE' data-remote='true'>Supprimer</a>