<div class="row justify-content-around ">
  <h1>&#x2709;&#xFE0F; Mes Email </h1>
  <div class = "text-center">
    <a href="<%=emails_path%>" class="btn btn-secondary" data-method='POST' data-remote='true'>Nouveau Mail</a>
  </div>
</div>
<br> </br>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th>Liste des emails</th>
        </tr>
      </thead>
      <tbody id="body-email">
      <% @emails.each do |email| %>
        <tr id="<%= email.body %>">
          <td><a href="<%=email_path(email.id)%>" data-remote='true'><%= email.object %></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <div id="body-mail">

    </div>
  </div>
</div>

