

<div class="row justify-content-around ">
  <h1>&#x2709;&#xFE0F; Mes Email </h1>
  <div class = "text-center">
    <a href="<%=emails_path%>" class="btn btn-secondary" data-method='POST' data-remote='true'>Nouveau Mail</a>
  </div>
</div>
<br> </br>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <h5>Liste des emails</h5>
      <tbody id="body-email">
      
        <% @emails.each do |email| %>
          <div id="<%= email.body %>">
          <% if email.read == true%>
            <%= link_to email.object, email_path(email.id), id: email.id, class:"list-group-item list-group-item-action", remote: true %>
          <% else %>
            <%= link_to email.object, email_path(email.id), id: email.id, class:"list-group-item list-group-item-action list-group-item-secondary", remote: true %>
          <% end %>
          </div>
        <% end %>
      
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <div id="body-mail">

    </div>
  </div>
</div>

