<div class="row justify-content-around ">
  <h1>&#x2709;&#xFE0F; Mes Email </h1>
  <div class = "text-center">
    <a href="<%=emails_path%>" class="btn btn-secondary" data-method='CREATE' data-remote='true'>Nouveau Mail</a>
  </div>
</div>
<br> </br>
<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <thead>
        <tr>
          <th>Liste des emails</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
        </tr>
        <tr>
          <td>Mary</td>
        </tr>
        <tr>
          <td>July</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>Email selectionné</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
